In [1]:
import os
from netCDF4 import Dataset
import numpy as np
import pandas as pd

In [2]:
path = os.getcwd()
folder = path+"/dataset/ts_jorge_sce400/"
print(folder)

/home/jorge/tsunami-warning/dataset/ts_jorge_sce400/

In [3]:
files = []
for file in os.listdir(folder):
    if file.endswith(".nc"):
        files.append(file)
files.sort()

In [4]:
len(files)

349

In [5]:
filep = files[0]
f=Dataset(folder+filep,'r')
for i in f.variables:
    print(i,f.variables[i].units,f.variables[i].shape)

deformed_bathy meters (131,)
time seconds since 1970-01-01 (5761,)
longitude degrees (131,)
latitude degrees (131,)
min_height meters (131,)
max_height meters (131,)
eta meters (5761, 131)
ux meters/second (5761, 131)
uy meters/second (5761, 131)

In [6]:
boyas = [120]
#inu_valpo= [6,9]
#inu_vina = [80]
#registros = {'inu_vina':inu_vina,'boyas':boyas}
registros = {'boyas':boyas}

In [7]:
data = {}
for file in files:
    for n,r in registros.items():
        for i in r:
            rutafile = folder  + file
            f=Dataset(rutafile,'r') # abrir file
            time = f.variables['time'][:]
            eta = f.variables['eta'][:,i] -f.variables['eta'][:,i][0]# eta corregido
            eta = eta.data.tolist()
            data[n+str(i)+'_'+file[-9:-3] ]= eta

In [8]:
df = pd.DataFrame(data)
df.to_json (folder+'DataFrame_boya-120.json')
df.head()

,boyas120_000000,boyas120_000001,boyas120_000002,boyas120_000003,boyas120_000004,boyas120_000005,boyas120_000006,boyas120_000007,boyas120_000008,boyas120_000009,...,boyas120_000340,boyas120_000341,boyas120_000342,boyas120_000343,boyas120_000344,boyas120_000345,boyas120_000346,boyas120_000347,boyas120_000348,boyas120_000349
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df.describe()

,boyas120_000000,boyas120_000001,boyas120_000002,boyas120_000003,boyas120_000004,boyas120_000005,boyas120_000006,boyas120_000007,boyas120_000008,boyas120_000009,...,boyas120_000340,boyas120_000341,boyas120_000342,boyas120_000343,boyas120_000344,boyas120_000345,boyas120_000346,boyas120_000347,boyas120_000348,boyas120_000349
count,5761.0,5761.0,5761.0,5761.000000,5761.000000,5761.0,5761.0,5761.0,5761.0,5761.0,...,5761.000000,5761.0,5761.000000,5761.000000,5761.000000,5761.0,5761.0,5761.0,5761.0,5761.000000
mean,0.0,0.0,0.0,0.001148,0.002201,0.0,0.0,0.0,0.0,0.0,...,0.007249,0.0,0.019898,0.004117,0.007195,0.0,0.0,0.0,0.0,0.035351
std,0.0,0.0,0.0,0.008297,0.017718,0.0,0.0,0.0,0.0,0.0,...,0.078380,0.0,0.197565,0.029337,0.068544,0.0,0.0,0.0,0.0,0.307303
min,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000
25%,0.0,0.0,0.0,0.000327,0.000308,0.0,0.0,0.0,0.0,0.0,...,0.000417,0.0,0.000451,0.000371,0.000391,0.0,0.0,0.0,0.0,0.000417
50%,0.0,0.0,0.0,0.000494,0.000495,0.0,0.0,0.0,0.0,0.0,...,0.000485,0.0,0.000855,0.000576,0.000486,0.0,0.0,0.0,0.0,0.000796
75%,0.0,0.0,0.0,0.000554,0.000696,0.0,0.0,0.0,0.0,0.0,...,0.002053,0.0,0.004673,0.000721,0.002373,0.0,0.0,0.0,0.0,0.005000
max,0.0,0.0,0.0,0.282383,0.591902,0.0,0.0,0.0,0.0,0.0,...,2.156260,0.0,5.050270,0.833592,1.661720,0.0,0.0,0.0,0.0,5.349251

In [10]:
indexC = df.columns
len(indexC)

349

In [11]:
Inu = []
inu = {}
NoInu = []
c = -1
groups = []
for i in indexC:
    if i.startswith("boyas120"):
        c+=1
        if df[i].max()>0:
            groups.append(1)
            Inu.append(c)
            inu[i] = [df[i].max()]
        else:
            NoInu.append(c)
            groups.append(0)

In [12]:
inu = pd.DataFrame(inu)
inu

,boyas120_000003,boyas120_000004,boyas120_000010,boyas120_000025,boyas120_000026,boyas120_000058,boyas120_000060,boyas120_000077,boyas120_000085,boyas120_000088,...,boyas120_000333,boyas120_000334,boyas120_000335,boyas120_000336,boyas120_000338,boyas120_000340,boyas120_000342,boyas120_000343,boyas120_000344,boyas120_000349
0,0.282383,0.591902,1.267399,0.598447,5.401462,0.76242,3.848991,0.047358,0.174649,0.061528,...,3.499454,3.58686,0.325661,9.599476,4.149571,2.15626,5.05027,0.833592,1.66172,5.349251

In [13]:
print('No Inunda %',(len(NoInu)/(len(NoInu)+len(Inu)))*100)
print('Si Inunda %',(len(Inu)/(len(NoInu)+len(Inu)))*100)

No Inunda % 71.34670487106017
Si Inunda % 28.653295128939828

In [14]:
print(Inu)

[3, 4, 10, 25, 26, 58, 60, 77, 85, 88, 93, 105, 111, 112, 126, 137, 139, 143, 149, 152, 155, 157, 165, 167, 169, 170, 174, 191, 194, 196, 197, 198, 204, 205, 206, 207, 208, 212, 214, 217, 219, 220, 221, 222, 224, 226, 228, 230, 231, 242, 243, 245, 247, 250, 253, 254, 255, 259, 260, 266, 271, 273, 274, 276, 277, 280, 281, 284, 285, 290, 291, 294, 296, 297, 298, 299, 301, 303, 304, 308, 311, 312, 314, 317, 318, 319, 320, 323, 325, 327, 332, 333, 334, 335, 337, 339, 341, 342, 343, 348]

In [15]:
print(groups)

[0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1]

In [16]:
len(groups)

349

In [17]:
len(Inu)

100

In [18]:
696/2

348.0

In [19]:
lista1 = [1,2,3,4]
lista2 = [5,6,7,8]
lista1+=lista2

In [20]:
lista1

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
lista = np.random.shuffle(lista1)

In [22]:
lista1

[8, 7, 2, 1, 5, 4, 6, 3]