In [1]:
import os
from netCDF4 import Dataset
import numpy as np
import pandas as pd

In [2]:
path = os.getcwd()
folder = path+"/dataset/ts_jorge_MW8.6/"
print(folder)

/home/jorge/tsunami-warning/dataset/ts_jorge_MW8.6/

In [3]:
files = []
for file in os.listdir(folder):
    if file.endswith(".nc"):
        files.append(file)
files.sort()
print(files)

['bat_l0_ts002.nc', 'bat_l0_ts034.nc', 'bat_l0_ts035.nc', 'bat_l0_ts043.nc', 'bat_l0_ts050.nc', 'bat_l0_ts053.nc', 'bat_l0_ts055.nc', 'bat_l0_ts060.nc', 'bat_l0_ts061.nc', 'bat_l0_ts066.nc', 'bat_l0_ts067.nc', 'bat_l0_ts068.nc', 'bat_l0_ts071.nc', 'bat_l0_ts072.nc', 'bat_l0_ts073.nc', 'bat_l0_ts074.nc', 'bat_l0_ts076.nc', 'bat_l0_ts077.nc', 'bat_l0_ts080.nc', 'bat_l0_ts081.nc', 'bat_l0_ts082.nc', 'bat_l0_ts085.nc', 'bat_l0_ts086.nc', 'bat_l0_ts087.nc', 'bat_l0_ts089.nc', 'bat_l0_ts091.nc', 'bat_l0_ts094.nc', 'bat_l0_ts095.nc', 'bat_l0_ts096.nc', 'bat_l0_ts098.nc', 'bat_l0_ts099.nc', 'bat_l0_ts100.nc', 'bat_l0_ts101.nc', 'bat_l0_ts102.nc', 'bat_l0_ts105.nc', 'bat_l0_ts107.nc', 'bat_l0_ts110.nc', 'bat_l0_ts116.nc', 'bat_l0_ts120.nc', 'bat_l0_ts126.nc', 'bat_l0_ts127.nc', 'bat_l0_ts128.nc', 'bat_l0_ts131.nc', 'bat_l0_ts132.nc', 'bat_l0_ts133.nc', 'bat_l0_ts134.nc', 'bat_l0_ts137.nc', 'bat_l0_ts138.nc', 'bat_l0_ts143.nc', 'bat_l0_ts145.nc', 'bat_l0_ts147.nc', 'bat_l0_ts148.nc', 'bat_l0_ts149.nc', 'bat_l0_ts153.nc', 'bat_l0_ts158.nc', 'bat_l0_ts159.nc', 'bat_l0_ts161.nc', 'bat_l0_ts162.nc', 'bat_l0_ts163.nc', 'bat_l0_ts164.nc', 'bat_l0_ts167.nc', 'bat_l0_ts170.nc', 'bat_l0_ts172.nc', 'bat_l0_ts175.nc', 'bat_l0_ts176.nc', 'bat_l0_ts177.nc', 'bat_l0_ts178.nc', 'bat_l0_ts179.nc', 'bat_l0_ts180.nc', 'bat_l0_ts181.nc', 'bat_l0_ts184.nc', 'bat_l0_ts185.nc', 'bat_l0_ts187.nc', 'bat_l0_ts192.nc', 'bat_l0_ts193.nc', 'bat_l0_ts194.nc', 'bat_l0_ts195.nc', 'bat_l0_ts196.nc', 'bat_l0_ts_003.nc', 'bat_l0_ts_004.nc', 'bat_l0_ts_007.nc', 'bat_l0_ts_008.nc', 'bat_l0_ts_009.nc', 'bat_l0_ts_010.nc', 'bat_l0_ts_012.nc', 'bat_l0_ts_014.nc', 'bat_l0_ts_015.nc', 'bat_l0_ts_016.nc', 'bat_l0_ts_019.nc', 'bat_l0_ts_021.nc', 'bat_l0_ts_024.nc', 'bat_l0_ts_025.nc', 'bat_l0_ts_026.nc', 'bat_l0_ts_027.nc', 'bat_l0_ts_031.nc', 'bat_l0_ts_032.nc', 'bat_l0_ts_033.nc']

In [4]:
filep = files[0]
f=Dataset(folder+filep,'r')
for i in f.variables:
    print(i,f.variables[i].units,f.variables[i].shape)

deformed_bathy meters (83,)
time seconds since 1970-01-01 (14410,)
min_height meters (83,)
max_height meters (83,)
eta meters (14410, 83)
ux meters/second (14410, 83)
uy meters/second (14410, 83)

In [5]:
boyas = [14,79]
#inu_valpo= [6,9]
#inu_vina = [80]
registros = {'boyas':boyas,'inu_vina':inu_vina}

In [6]:
data = {}
for file in files:
    for n,r in registros.items():
        for i in r:
            rutafile = folder  + file
            f=Dataset(rutafile,'r') # abrir file
            time = f.variables['time'][:]
            eta = f.variables['eta'][:,i] -f.variables['eta'][:,i][0]# eta corregido
            eta = eta.data.tolist()
            data[n+str(i)+'_'+file[-8:-3]] = eta

In [7]:
df = pd.DataFrame(data)
df.to_json (folder+'DataFrame_boyas79_80viña.json')
df.head()

,boyas79_ts002,inu_vina80_ts002,boyas79_ts034,inu_vina80_ts034,boyas79_ts035,inu_vina80_ts035,boyas79_ts043,inu_vina80_ts043,boyas79_ts050,inu_vina80_ts050,...,boyas79_s_026,inu_vina80_s_026,boyas79_s_027,inu_vina80_s_027,boyas79_s_031,inu_vina80_s_031,boyas79_s_032,inu_vina80_s_032,boyas79_s_033,inu_vina80_s_033
0,0.000000,0.0,0.000000,0.0,0.000000e+00,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0
1,-0.000002,0.0,0.000017,0.0,-7.395329e-07,0.0,-0.000005,0.0,0.000004,0.0,...,0.000016,0.0,0.000007,0.0,0.000010,0.0,-0.000010,0.0,0.000012,0.0
2,-0.000005,0.0,0.000037,0.0,-1.534066e-06,0.0,-0.000011,0.0,0.000009,0.0,...,0.000036,0.0,0.000016,0.0,0.000023,0.0,-0.000023,0.0,0.000026,0.0
3,-0.000010,0.0,0.000066,0.0,-2.505590e-06,0.0,-0.000019,0.0,0.000017,0.0,...,0.000063,0.0,0.000028,0.0,0.000041,0.0,-0.000042,0.0,0.000047,0.0
4,-0.000023,0.0,0.000149,0.0,-5.265188e-06,0.0,-0.000043,0.0,0.000038,0.0,...,0.000143,0.0,0.000063,0.0,0.000093,0.0,-0.000097,0.0,0.000106,0.0

In [8]:
df.describe()

,boyas79_ts002,inu_vina80_ts002,boyas79_ts034,inu_vina80_ts034,boyas79_ts035,inu_vina80_ts035,boyas79_ts043,inu_vina80_ts043,boyas79_ts050,inu_vina80_ts050,...,boyas79_s_026,inu_vina80_s_026,boyas79_s_027,inu_vina80_s_027,boyas79_s_031,inu_vina80_s_031,boyas79_s_032,inu_vina80_s_032,boyas79_s_033,inu_vina80_s_033
count,14410.000000,14410.0,14410.000000,14410.0,14410.000000,14410.000000,14410.000000,14410.0,14410.000000,14410.0,...,14410.000000,14410.0,14410.000000,14410.0,14410.000000,14410.0,14410.000000,14410.0,14410.000000,14410.0
mean,-0.648908,0.0,-0.286989,0.0,0.760145,0.034584,-1.097499,0.0,-0.496426,0.0,...,-0.347874,0.0,-0.003588,0.0,-0.194137,0.0,-0.199643,0.0,-0.444177,0.0
std,0.465513,0.0,0.944646,0.0,1.369603,0.163501,0.802986,0.0,0.658526,0.0,...,0.910496,0.0,0.684992,0.0,0.521097,0.0,0.912928,0.0,0.740162,0.0
min,-1.896200,0.0,-4.129583,0.0,-3.185444,0.000000,-3.720523,0.0,-2.300105,0.0,...,-2.571706,0.0,-2.704258,0.0,-1.679436,0.0,-2.615318,0.0,-2.550962,0.0
25%,-1.011816,0.0,-0.852958,0.0,0.027685,0.005005,-1.660192,0.0,-0.907743,0.0,...,-0.899492,0.0,-0.333579,0.0,-0.537303,0.0,-0.791233,0.0,-0.954297,0.0
50%,-0.622602,0.0,-0.246065,0.0,0.694517,0.005539,-1.105317,0.0,-0.444948,0.0,...,-0.408491,0.0,-0.011665,0.0,-0.160695,0.0,-0.307547,0.0,-0.431764,0.0
75%,-0.308327,0.0,0.304436,0.0,1.504632,0.010796,-0.499835,0.0,0.018315,0.0,...,0.308116,0.0,0.334983,0.0,0.139470,0.0,0.284067,0.0,0.107864,0.0
max,0.613058,0.0,2.168482,0.0,7.112984,1.905331,1.231893,0.0,1.062584,0.0,...,1.797382,0.0,2.304038,0.0,1.408167,0.0,2.860675,0.0,1.148816,0.0

In [9]:
#df = pd.read_json(folder+'DataFrame_boyas.json') # cargar dataframe