In [1]:
import os
from netCDF4 import Dataset
import numpy as np
import pandas as pd

In [2]:
path = os.getcwd()
folder= path + "/dataset/series_boyas/analisis/"
print(folder)

/home/jorge/tsunami-warning/dataset/series_boyas/analisis/

In [3]:
files = []
for file in os.listdir(folder):
    if file.endswith(".nc"):
        files.append(file)
files.sort()
print(files)

['layer01_tsE475.nc', 'layer01_ts_E385.nc', 'layer01_ts_E390.nc', 'layer01_ts_E395.nc']

In [4]:
filep = files[0]
f=Dataset(folder+filep,'r')
for i in f.variables:
    print(i,f.variables[i].units,f.variables[i].shape)

deformed_bathy meters (78,)
time seconds since 1970-01-01 (10800,)
longitude degrees (78,)
latitude degrees (78,)
min_height meters (78,)
max_height meters (78,)
eta meters (10800, 78)
ux meters/second (10800, 78)
uy meters/second (10800, 78)

In [5]:
boyas = [28,0,18]
inu_valpo= [6,9]
inu_vina = [20,24,25]
registros = {'boyas':boyas,'inu_valpo':inu_valpo,'inu_vina':inu_vina}

In [6]:
data = {}
for n,r in registros.items():
    for i in r:
        for file in files:
            rutafile = folder  + file
            f=Dataset(rutafile,'r') # abrir file
            time = f.variables['time'][:]
            eta = f.variables['eta'][:,i] -f.variables['eta'][:,i][0]# eta corregido
            eta = eta.data.tolist()
            data[n+str(i)+'_'+file[-7:-5]+'_'+file[-5]+'.'+file[-4]] = eta

In [7]:
df = pd.DataFrame(data)
df.to_json (folder+'DataFrame_boyas.json')
df.head()

,boyas28_E4_7.5,boyas28_E3_8.5,boyas28_E3_9.0,boyas28_E3_9.5,boyas0_E4_7.5,boyas0_E3_8.5,boyas0_E3_9.0,boyas0_E3_9.5,boyas18_E4_7.5,boyas18_E3_8.5,...,inu_vina20_E3_9.0,inu_vina20_E3_9.5,inu_vina24_E4_7.5,inu_vina24_E3_8.5,inu_vina24_E3_9.0,inu_vina24_E3_9.5,inu_vina25_E4_7.5,inu_vina25_E3_8.5,inu_vina25_E3_9.0,inu_vina25_E3_9.5
0,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-4.305889e-08,-4.186766e-07,-0.000002,-0.000006,-2.626344e-09,-1.502141e-07,-7.454561e-07,-0.000010,-1.091038e-08,-4.410490e-07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-6.703083e-08,-9.453034e-07,-0.000005,-0.000015,-1.614442e-08,-3.997984e-07,-1.981682e-06,-0.000029,-3.201883e-08,-1.347979e-06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-9.182433e-08,-1.603260e-06,-0.000008,-0.000028,-3.630873e-08,-7.378267e-07,-3.664908e-06,-0.000057,-5.853185e-08,-2.636983e-06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-1.690319e-07,-3.003708e-06,-0.000015,-0.000071,-8.368239e-08,-1.570778e-06,-7.830263e-06,-0.000138,-1.252767e-07,-3.697765e-06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df.describe()

,boyas28_E4_7.5,boyas28_E3_8.5,boyas28_E3_9.0,boyas28_E3_9.5,boyas0_E4_7.5,boyas0_E3_8.5,boyas0_E3_9.0,boyas0_E3_9.5,boyas18_E4_7.5,boyas18_E3_8.5,...,inu_vina20_E3_9.0,inu_vina20_E3_9.5,inu_vina24_E4_7.5,inu_vina24_E3_8.5,inu_vina24_E3_9.0,inu_vina24_E3_9.5,inu_vina25_E4_7.5,inu_vina25_E3_8.5,inu_vina25_E3_9.0,inu_vina25_E3_9.5
count,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,...,10800.000000,10800.000000,10800.0,10800.0,10800.000000,10800.000000,10800.0,10800.0,10800.000000,10800.000000
mean,0.004036,0.095698,0.426585,2.313289,0.004114,0.095431,0.427239,2.449331,0.004246,0.095538,...,0.915639,6.073482,0.0,0.0,1.246951,6.843052,0.0,0.0,0.548114,5.016624
std,0.044285,0.802747,2.886844,8.852368,0.047277,0.901029,3.297782,10.323119,0.055938,1.047059,...,1.513295,6.238077,0.0,0.0,1.693299,6.918748,0.0,0.0,1.137012,7.253114
min,-0.102209,-1.696720,-5.586817,-14.408252,-0.090788,-1.538760,-5.669222,-15.890586,-0.112482,-1.776518,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000
25%,-0.020625,-0.444439,-1.597125,-4.616076,-0.023660,-0.567017,-2.358464,-5.085264,-0.033284,-0.634923,...,0.001417,2.027483,0.0,0.0,0.031735,2.168961,0.0,0.0,0.055801,0.282470
50%,0.002692,0.108265,0.235684,0.560755,-0.000056,-0.001630,0.258291,1.326988,-0.000216,-0.019686,...,0.194139,4.183997,0.0,0.0,0.453421,5.069086,0.0,0.0,0.106475,2.243935
75%,0.028851,0.598810,2.519017,8.321112,0.031873,0.677167,2.657740,9.662057,0.044991,0.728420,...,1.254473,8.122395,0.0,0.0,1.896323,9.007671,0.0,0.0,0.294517,6.100329
max,0.098394,1.829972,7.402713,25.621449,0.117733,2.516133,9.371940,33.603141,0.166333,3.333397,...,8.517372,35.068009,0.0,0.0,10.300909,36.096190,0.0,0.0,7.213855,38.214226

In [8]:
#df = pd.read_json(folder+'DataFrame_boyas.json') # cargar dataframe