In [1]:
import os
from netCDF4 import Dataset
import numpy as np
import pandas as pd

In [2]:
path = os.getcwd()
folder = path+"/dataset/ts_jorge_2800_L0/"
print(folder)

/home/jorge/tsunami-warning/dataset/ts_jorge_2800_L0/

In [3]:
files = []
for file in os.listdir(folder):
    if file.endswith(".nc"):
        files.append(file)
files.sort()

In [4]:
len(files)

1600

In [5]:
filep = files[0]
f=Dataset(folder+filep,'r')
for i in f.variables:
    print(i,f.variables[i].units,f.variables[i].shape)
times = len(f.variables['time'])

deformed_bathy meters (59,)
time seconds since 1970-01-01 (1441,)
longitude degrees (59,)
latitude degrees (59,)
min_height meters (59,)
max_height meters (59,)
eta meters (1441, 59)
ux meters/second (1441, 59)
uy meters/second (1441, 59)

In [6]:
f.variables['time'][2]-f.variables['time'][1]

10.152565

In [7]:
f.variables['time'][2]

masked_array(data=20.30513,
             mask=False,
       fill_value=1e+20,
            dtype=float32)

In [8]:
boyas = [29]
#inu_valpo= [6,9]
#inu_vina = [80]
#registros = {'inu_vina':inu_vina,'boyas':boyas}
registros = {'boyas':boyas}

In [9]:
data = {}
for file in files:
    for n,r in registros.items():
        for i in r:
            rutafile = folder  + file
            f=Dataset(rutafile,'r') # abrir file
            time = f.variables['time'][:]
            eta = f.variables['eta'][:,i] -f.variables['eta'][:,i][0]# eta corregido
            eta = eta.data.tolist()
            if len(eta)!=times:
                print(file)
                print(len(eta))
            if len(eta)==times:
                data[n+str(i)+'_'+file[-9:-3] ]= eta

level01_ts1992.nc
1246
level01_ts1993.nc
1230
level01_ts1994.nc
1248
level01_ts1995.nc
1246
level01_ts1996.nc
1248
level01_ts1997.nc
1249
level01_ts1998.nc
1248
level01_ts1999.nc
1245

**Cometario:** Algunas series no están completas.

In [10]:
df = pd.DataFrame(data)
df.to_json (folder+'DataFrame_boya-'+str(boyas[0])+'-3L.json')
df.head()

,boyas29_ts0000,boyas29_ts0001,boyas29_ts0002,boyas29_ts0003,boyas29_ts0004,boyas29_ts0005,boyas29_ts0006,boyas29_ts0007,boyas29_ts0008,boyas29_ts0009,...,boyas29_ts2790,boyas29_ts2791,boyas29_ts2792,boyas29_ts2793,boyas29_ts2794,boyas29_ts2795,boyas29_ts2796,boyas29_ts2797,boyas29_ts2798,boyas29_ts2799
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
df.describe()

,boyas29_ts0000,boyas29_ts0001,boyas29_ts0002,boyas29_ts0003,boyas29_ts0004,boyas29_ts0005,boyas29_ts0006,boyas29_ts0007,boyas29_ts0008,boyas29_ts0009,...,boyas29_ts2790,boyas29_ts2791,boyas29_ts2792,boyas29_ts2793,boyas29_ts2794,boyas29_ts2795,boyas29_ts2796,boyas29_ts2797,boyas29_ts2798,boyas29_ts2799
count,1441.0,1441.0,1441.0,1441.0,1441.0,1441.0,1441.0,1441.0,1441.0,1441.0,...,1441.000000,1441.000000,1441.000000,1.441000e+03,1.441000e+03,1441.000000,1441.000000,1.441000e+03,1.441000e+03,1.441000e+03
mean,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.795131,0.192093,0.225084,1.934103e-02,6.143649e-03,0.011061,0.119100,8.445652e-03,5.647522e-03,4.714863e-03
std,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.280728,0.402229,0.442589,4.995765e-02,2.833689e-02,0.056683,0.336073,3.815607e-02,2.690235e-02,2.181843e-02
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.028178,0.000000,0.000000,0.000000e+00,4.768372e-07,0.000000,0.000000,4.768372e-07,4.768372e-07,0.000000e+00
50%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.261134,0.020698,0.007487,4.768372e-07,4.768372e-07,0.000000,0.000000,4.768372e-07,9.536743e-07,4.768372e-07
75%,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.950552,0.157401,0.329189,1.711130e-02,4.768372e-07,0.000000,0.047309,9.536743e-07,9.536743e-07,4.768372e-07
max,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.540356,2.228302,4.498841,5.174127e-01,3.290102e-01,0.858311,4.362195,5.213604e-01,4.113603e-01,3.288841e-01

In [12]:
indexC = df.columns
len(indexC)

2788

In [13]:
Inu = []
inu = {}
NoInu = []
c = -1
groups = []
for i in indexC:
    if i.startswith("boyas"+str(boyas[0])):
        c+=1
        if df[i].max()>0:
            groups.append(1)
            Inu.append(c)
            inu[i] = [df[i].max()]
        else:
            NoInu.append(c)
            groups.append(0)

In [14]:
inu = pd.DataFrame(inu)
inu

,boyas29_ts0029,boyas29_ts0036,boyas29_ts0044,boyas29_ts0068,boyas29_ts0087,boyas29_ts0105,boyas29_ts0128,boyas29_ts0132,boyas29_ts0137,boyas29_ts0145,...,boyas29_ts2790,boyas29_ts2791,boyas29_ts2792,boyas29_ts2793,boyas29_ts2794,boyas29_ts2795,boyas29_ts2796,boyas29_ts2797,boyas29_ts2798,boyas29_ts2799
0,3.45238,0.535081,0.03636,0.443036,4.089531,0.204695,0.282186,0.560682,1.792148,2.332807,...,7.540356,2.228302,4.498841,0.517413,0.32901,0.858311,4.362195,0.52136,0.41136,0.328884

In [15]:
print('No Inunda %',(len(NoInu)/(len(NoInu)+len(Inu)))*100)
print('Si Inunda %',(len(Inu)/(len(NoInu)+len(Inu)))*100)

No Inunda % 74.31850789096126
Si Inunda % 25.68149210903874

In [16]:
print(Inu)

[29, 36, 44, 68, 87, 105, 128, 132, 137, 145, 153, 180, 196, 205, 210, 215, 247, 314, 326, 338, 344, 352, 373, 379, 381, 404, 408, 426, 445, 454, 483, 500, 504, 512, 546, 566, 569, 574, 580, 594, 603, 611, 624, 651, 658, 667, 669, 680, 684, 685, 688, 691, 700, 720, 727, 744, 748, 752, 772, 783, 786, 794, 806, 808, 823, 826, 832, 854, 858, 869, 874, 878, 880, 890, 893, 898, 899, 908, 909, 915, 917, 920, 930, 936, 940, 948, 956, 960, 966, 980, 1012, 1018, 1026, 1034, 1037, 1040, 1042, 1043, 1054, 1061, 1062, 1067, 1085, 1087, 1093, 1094, 1097, 1109, 1116, 1130, 1140, 1144, 1145, 1147, 1149, 1152, 1153, 1156, 1163, 1165, 1166, 1169, 1170, 1172, 1178, 1186, 1191, 1197, 1200, 1203, 1210, 1220, 1223, 1226, 1229, 1234, 1236, 1241, 1247, 1253, 1255, 1262, 1265, 1271, 1277, 1288, 1296, 1301, 1305, 1306, 1311, 1317, 1318, 1319, 1321, 1323, 1328, 1329, 1331, 1332, 1334, 1335, 1338, 1348, 1353, 1356, 1365, 1372, 1373, 1379, 1383, 1389, 1390, 1397, 1399, 1409, 1417, 1420, 1425, 1426, 1427, 1428, 1430, 1432, 1433, 1438, 1439, 1442, 1445, 1446, 1447, 1448, 1449, 1452, 1476, 1477, 1481, 1485, 1488, 1489, 1491, 1492, 1506, 1514, 1515, 1530, 1531, 1534, 1536, 1537, 1546, 1551, 1559, 1571, 1575, 1583, 1588, 1594, 1596, 1597, 1598, 1602, 1603, 1605, 1616, 1617, 1618, 1619, 1623, 1630, 1633, 1635, 1640, 1643, 1645, 1646, 1655, 1657, 1659, 1660, 1668, 1678, 1682, 1686, 1688, 1690, 1692, 1696, 1698, 1699, 1700, 1706, 1707, 1714, 1715, 1722, 1723, 1724, 1732, 1733, 1735, 1738, 1739, 1743, 1749, 1750, 1751, 1755, 1757, 1767, 1769, 1772, 1773, 1774, 1779, 1780, 1791, 1793, 1804, 1805, 1806, 1807, 1814, 1823, 1829, 1831, 1832, 1833, 1841, 1847, 1853, 1854, 1857, 1858, 1860, 1863, 1867, 1874, 1881, 1892, 1896, 1898, 1900, 1905, 1911, 1912, 1914, 1916, 1919, 1920, 1923, 1930, 1936, 1937, 1940, 1941, 1944, 1949, 1952, 1954, 1956, 1957, 1961, 1962, 1966, 1968, 1972, 1973, 1976, 1977, 1978, 1981, 1983, 1984, 1986, 1990, 1994, 1997, 2000, 2006, 2008, 2013, 2015, 2020, 2021, 2022, 2024, 2025, 2027, 2030, 2036, 2038, 2044, 2046, 2050, 2057, 2058, 2060, 2061, 2067, 2068, 2069, 2071, 2075, 2077, 2083, 2087, 2088, 2089, 2090, 2095, 2096, 2097, 2101, 2103, 2105, 2106, 2107, 2110, 2111, 2112, 2120, 2122, 2123, 2124, 2131, 2134, 2139, 2140, 2142, 2146, 2149, 2151, 2152, 2153, 2154, 2160, 2163, 2164, 2170, 2178, 2181, 2183, 2186, 2188, 2192, 2194, 2195, 2200, 2211, 2213, 2214, 2215, 2220, 2222, 2227, 2230, 2231, 2234, 2235, 2236, 2241, 2242, 2243, 2247, 2256, 2257, 2260, 2261, 2264, 2266, 2267, 2269, 2271, 2272, 2275, 2276, 2277, 2280, 2281, 2282, 2285, 2286, 2289, 2290, 2293, 2294, 2295, 2303, 2305, 2306, 2307, 2314, 2316, 2318, 2319, 2320, 2324, 2325, 2326, 2327, 2328, 2330, 2331, 2332, 2333, 2334, 2335, 2336, 2339, 2340, 2345, 2346, 2348, 2349, 2352, 2354, 2355, 2358, 2361, 2364, 2371, 2372, 2376, 2379, 2380, 2382, 2384, 2385, 2388, 2390, 2392, 2397, 2398, 2400, 2402, 2403, 2404, 2405, 2408, 2409, 2410, 2411, 2413, 2415, 2416, 2417, 2424, 2426, 2427, 2429, 2430, 2431, 2432, 2433, 2434, 2435, 2437, 2438, 2439, 2444, 2445, 2446, 2447, 2448, 2453, 2454, 2455, 2456, 2457, 2459, 2460, 2461, 2463, 2466, 2469, 2470, 2471, 2473, 2474, 2475, 2477, 2478, 2480, 2481, 2482, 2483, 2485, 2487, 2488, 2491, 2492, 2493, 2494, 2498, 2499, 2502, 2504, 2505, 2506, 2512, 2514, 2517, 2518, 2519, 2520, 2521, 2522, 2523, 2524, 2525, 2530, 2532, 2533, 2538, 2539, 2541, 2542, 2546, 2547, 2548, 2552, 2553, 2554, 2555, 2558, 2559, 2560, 2561, 2563, 2564, 2565, 2567, 2569, 2570, 2575, 2577, 2578, 2583, 2584, 2585, 2586, 2587, 2588, 2591, 2592, 2593, 2594, 2595, 2596, 2599, 2606, 2610, 2611, 2616, 2617, 2618, 2626, 2628, 2630, 2631, 2632, 2634, 2635, 2637, 2638, 2639, 2640, 2643, 2647, 2650, 2651, 2652, 2654, 2656, 2658, 2660, 2661, 2664, 2665, 2666, 2667, 2670, 2671, 2673, 2674, 2679, 2681, 2682, 2683, 2684, 2685, 2687, 2690, 2693, 2697, 2699, 2700, 2702, 2704, 2705, 2706, 2707, 2708, 2709, 2710, 2711, 2712, 2714, 2717, 2718, 2720, 2721, 2722, 2724, 2725, 2728, 2729, 2731, 2732, 2733, 2735, 2736, 2743, 2744, 2745, 2746, 2747, 2751, 2753, 2754, 2756, 2757, 2758, 2759, 2762, 2764, 2765, 2766, 2767, 2768, 2771, 2773, 2774, 2775, 2777, 2778, 2779, 2780, 2781, 2782, 2783, 2784, 2785, 2786, 2787]