In [1]:
import os
from netCDF4 import Dataset
import numpy as np
import pandas as pd

In [2]:
path = os.getcwd()
folder= path + "/dataset/series_boyas/analisis/"
print(folder)

/home/jorge/tsunami-warning/dataset/series_boyas/analisis/

In [3]:
files = []
for file in os.listdir(folder):
    if file.endswith(".nc"):
        files.append(file)
files.sort()
print(files)

['layer01_tsE475.nc', 'layer01_ts_E385.nc', 'layer01_ts_E390.nc', 'layer01_ts_E395.nc']

In [4]:
filep = files[0]
f=Dataset(folder+filep,'r')
for i in f.variables:
    print(i,f.variables[i].units,f.variables[i].shape)

deformed_bathy meters (78,)
time seconds since 1970-01-01 (10800,)
longitude degrees (78,)
latitude degrees (78,)
min_height meters (78,)
max_height meters (78,)
eta meters (10800, 78)
ux meters/second (10800, 78)
uy meters/second (10800, 78)

In [5]:
boyas = [28,0,18]
inu_valpo= [6,9]
inu_vina = [20,24,25]
registros = {'boyas':boyas,'inu_valpo':inu_valpo,'inu_vina':inu_vina}

In [6]:
data = {}
for file in files:
    for n,r in registros.items():
        for i in r:
            rutafile = folder  + file
            f=Dataset(rutafile,'r') # abrir file
            time = f.variables['time'][:]
            eta = f.variables['eta'][:,i] -f.variables['eta'][:,i][0]# eta corregido
            eta = eta.data.tolist()
            data[n+str(i)+'_'+file[-7:-5]+'_'+file[-5]+'.'+file[-4]] = eta

In [7]:
df = pd.DataFrame(data)
df.to_json (folder+'DataFrame_boyas.json')
df.head()

,boyas28_E4_7.5,boyas0_E4_7.5,boyas18_E4_7.5,inu_valpo6_E4_7.5,inu_valpo9_E4_7.5,inu_vina20_E4_7.5,inu_vina24_E4_7.5,inu_vina25_E4_7.5,boyas28_E3_8.5,boyas0_E3_8.5,...,inu_vina24_E3_9.0,inu_vina25_E3_9.0,boyas28_E3_9.5,boyas0_E3_9.5,boyas18_E3_9.5,inu_valpo6_E3_9.5,inu_valpo9_E3_9.5,inu_vina20_E3_9.5,inu_vina24_E3_9.5,inu_vina25_E3_9.5
0,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000e+00,...,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
1,-4.305889e-08,-2.626344e-09,-1.091038e-08,0.0,0.0,0.0,0.0,0.0,-4.186766e-07,-1.502141e-07,...,0.0,0.0,-0.000006,-0.000010,-0.000028,0.0,0.0,0.0,0.0,0.0
2,-6.703083e-08,-1.614442e-08,-3.201883e-08,0.0,0.0,0.0,0.0,0.0,-9.453034e-07,-3.997984e-07,...,0.0,0.0,-0.000015,-0.000029,-0.000064,0.0,0.0,0.0,0.0,0.0
3,-9.182433e-08,-3.630873e-08,-5.853185e-08,0.0,0.0,0.0,0.0,0.0,-1.603260e-06,-7.378267e-07,...,0.0,0.0,-0.000028,-0.000057,-0.000110,0.0,0.0,0.0,0.0,0.0
4,-1.690319e-07,-8.368239e-08,-1.252767e-07,0.0,0.0,0.0,0.0,0.0,-3.003708e-06,-1.570778e-06,...,0.0,0.0,-0.000071,-0.000138,-0.000223,0.0,0.0,0.0,0.0,0.0

In [8]:
df.describe()

,boyas28_E4_7.5,boyas0_E4_7.5,boyas18_E4_7.5,inu_valpo6_E4_7.5,inu_valpo9_E4_7.5,inu_vina20_E4_7.5,inu_vina24_E4_7.5,inu_vina25_E4_7.5,boyas28_E3_8.5,boyas0_E3_8.5,...,inu_vina24_E3_9.0,inu_vina25_E3_9.0,boyas28_E3_9.5,boyas0_E3_9.5,boyas18_E3_9.5,inu_valpo6_E3_9.5,inu_valpo9_E3_9.5,inu_vina20_E3_9.5,inu_vina24_E3_9.5,inu_vina25_E3_9.5
count,10800.000000,10800.000000,10800.000000,10800.0,10800.0,10800.0,10800.0,10800.0,10800.000000,10800.000000,...,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000,10800.000000
mean,0.004036,0.004114,0.004246,0.0,0.0,0.0,0.0,0.0,0.095698,0.095431,...,1.246951,0.548114,2.313289,2.449331,2.406804,4.812709,3.523104,6.073482,6.843052,5.016624
std,0.044285,0.047277,0.055938,0.0,0.0,0.0,0.0,0.0,0.802747,0.901029,...,1.693299,1.137012,8.852368,10.323119,11.658502,6.781926,6.788080,6.238077,6.918748,7.253114
min,-0.102209,-0.090788,-0.112482,0.0,0.0,0.0,0.0,0.0,-1.696720,-1.538760,...,0.000000,0.000000,-14.408252,-15.890586,-20.135465,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-0.020625,-0.023660,-0.033284,0.0,0.0,0.0,0.0,0.0,-0.444439,-0.567017,...,0.031735,0.055801,-4.616076,-5.085264,-5.184231,0.676075,0.056724,2.027483,2.168961,0.282470
50%,0.002692,-0.000056,-0.000216,0.0,0.0,0.0,0.0,0.0,0.108265,-0.001630,...,0.453421,0.106475,0.560755,1.326988,1.098784,1.944287,0.292104,4.183997,5.069086,2.243935
75%,0.028851,0.031873,0.044991,0.0,0.0,0.0,0.0,0.0,0.598810,0.677167,...,1.896323,0.294517,8.321112,9.662057,10.363143,6.526775,3.962853,8.122395,9.007671,6.100329
max,0.098394,0.117733,0.166333,0.0,0.0,0.0,0.0,0.0,1.829972,2.516133,...,10.300909,7.213855,25.621449,33.603141,38.911430,35.569346,32.204882,35.068009,36.096190,38.214226

In [9]:
#df = pd.read_json(folder+'DataFrame_boyas.json') # cargar dataframe