In [1]:
import os
from netCDF4 import Dataset
import numpy as np
import pandas as pd

In [2]:
path = os.getcwd()
folder = path+"/dataset/ts_jorge_sce400/"
print(folder)

/home/jorge/tsunami-warning/dataset/ts_jorge_sce400/

In [3]:
files = []
for file in os.listdir(folder):
    if file.endswith(".nc"):
        files.append(file)
files.sort()

In [4]:
len(files)

349

In [5]:
filep = files[0]
f=Dataset(folder+filep,'r')
for i in f.variables:
    print(i,f.variables[i].units,f.variables[i].shape)

deformed_bathy meters (131,)
time seconds since 1970-01-01 (5761,)
longitude degrees (131,)
latitude degrees (131,)
min_height meters (131,)
max_height meters (131,)
eta meters (5761, 131)
ux meters/second (5761, 131)
uy meters/second (5761, 131)

In [6]:
boyas = [101,120]
#inu_valpo= [6,9]
#inu_vina = [80]
#registros = {'inu_vina':inu_vina,'boyas':boyas}
registros = {'boyas':boyas}

In [7]:
data = {}
for file in files:
    for n,r in registros.items():
        for i in r:
            rutafile = folder  + file
            f=Dataset(rutafile,'r') # abrir file
            time = f.variables['time'][:]
            eta = f.variables['eta'][:,i] -f.variables['eta'][:,i][0]# eta corregido
            eta = eta.data.tolist()
            data[n+str(i)+'_'+file[-9:-3] ]= eta

In [8]:
df = pd.DataFrame(data)
df.to_json (folder+'DataFrame_boyas.json')
df.head()

,boyas101_000000,boyas120_000000,boyas101_000001,boyas120_000001,boyas101_000002,boyas120_000002,boyas101_000003,boyas120_000003,boyas101_000004,boyas120_000004,...,boyas101_000345,boyas120_000345,boyas101_000346,boyas120_000346,boyas101_000347,boyas120_000347,boyas101_000348,boyas120_000348,boyas101_000349,boyas120_000349
0,0.000000e+00,0.0,0.000000,0.0,0.000000e+00,0.0,0.000000,0.0,0.000000,0.0,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0
1,8.344650e-07,0.0,-0.000039,0.0,-5.774200e-08,0.0,0.000104,0.0,-0.000061,0.0,...,-0.000317,0.0,-0.000074,0.0,-0.000378,0.0,-0.000025,0.0,0.001220,0.0
2,1.788139e-07,0.0,-0.000248,0.0,-1.648441e-07,0.0,0.000512,0.0,-0.000253,0.0,...,-0.000956,0.0,-0.000303,0.0,-0.001606,0.0,-0.000065,0.0,0.004827,0.0
3,-4.768372e-07,0.0,-0.000419,0.0,-4.712492e-07,0.0,0.000930,0.0,-0.000498,0.0,...,-0.002217,0.0,-0.000583,0.0,-0.003112,0.0,-0.000139,0.0,0.009717,0.0
4,2.086163e-05,0.0,-0.000683,0.0,-1.162291e-06,0.0,0.001500,0.0,-0.000875,0.0,...,-0.004480,0.0,-0.000958,0.0,-0.005317,0.0,-0.000189,0.0,0.017558,0.0

In [9]:
df.describe()

,boyas101_000000,boyas120_000000,boyas101_000001,boyas120_000001,boyas101_000002,boyas120_000002,boyas101_000003,boyas120_000003,boyas101_000004,boyas120_000004,...,boyas101_000345,boyas120_000345,boyas101_000346,boyas120_000346,boyas101_000347,boyas120_000347,boyas101_000348,boyas120_000348,boyas101_000349,boyas120_000349
count,5761.000000,5761.0,5761.000000,5761.0,5761.000000,5761.0,5761.000000,5761.000000,5761.000000,5761.000000,...,5761.000000,5761.0,5761.000000,5761.0,5761.000000,5761.0,5761.000000,5761.0,5761.000000,5761.000000
mean,-0.826607,0.0,-0.898034,0.0,0.016442,0.0,-0.033349,0.001148,-0.157859,0.002201,...,-3.859307,0.0,-0.248098,0.0,-3.013642,0.0,-0.607245,0.0,-4.768937,0.035351
std,0.214226,0.0,0.257346,0.0,0.183712,0.0,0.322605,0.008297,0.187812,0.017718,...,0.712327,0.0,0.439525,0.0,0.584186,0.0,0.441428,0.0,1.924863,0.307303
min,-1.729948,0.0,-2.717245,0.0,-0.612525,0.0,-1.830160,0.000000,-1.054193,0.000000,...,-7.588109,0.0,-1.805093,0.0,-5.120144,0.0,-2.246154,0.0,-17.745609,0.000000
25%,-0.914394,0.0,-0.969459,0.0,-0.085164,0.0,-0.147214,0.000327,-0.241417,0.000308,...,-4.084398,0.0,-0.497511,0.0,-3.268052,0.0,-0.829061,0.0,-5.186998,0.000417
50%,-0.831202,0.0,-0.896602,0.0,0.012841,0.0,-0.035473,0.000494,-0.163171,0.000495,...,-3.851433,0.0,-0.259686,0.0,-3.026591,0.0,-0.614864,0.0,-4.739894,0.000796
75%,-0.732508,0.0,-0.823582,0.0,0.117387,0.0,0.075427,0.000554,-0.084461,0.000696,...,-3.651103,0.0,0.005768,0.0,-2.761608,0.0,-0.415106,0.0,-4.308055,0.005000
max,0.030016,0.0,0.053918,0.0,0.524237,0.0,2.120350,0.282383,1.545438,0.591902,...,0.000000,0.0,1.659714,0.0,0.000000,0.0,1.747526,0.0,4.858268,5.349251

In [10]:
indexC = df.columns
len(indexC)

698

In [11]:
Inu = []
inu = {}
NoInu = []
c = -1
groups = []
for i in indexC:
    if i.startswith("boyas120"):
        c+=1
        if df[i].max()>0:
            groups.append(1)
            Inu.append(c)
            inu[i] = [df[i].max()]
        else:
            NoInu.append(c)
            groups.append(0)

In [12]:
inu = pd.DataFrame(inu)
inu

,boyas120_000003,boyas120_000004,boyas120_000010,boyas120_000025,boyas120_000026,boyas120_000058,boyas120_000060,boyas120_000077,boyas120_000085,boyas120_000088,...,boyas120_000333,boyas120_000334,boyas120_000335,boyas120_000336,boyas120_000338,boyas120_000340,boyas120_000342,boyas120_000343,boyas120_000344,boyas120_000349
0,0.282383,0.591902,1.267399,0.598447,5.401462,0.76242,3.848991,0.047358,0.174649,0.061528,...,3.499454,3.58686,0.325661,9.599476,4.149571,2.15626,5.05027,0.833592,1.66172,5.349251

In [13]:
print('No Inunda %',(len(NoInu)/(len(NoInu)+len(Inu)))*100)
print('Si Inunda %',(len(Inu)/(len(NoInu)+len(Inu)))*100)

No Inunda % 71.34670487106017
Si Inunda % 28.653295128939828

In [14]:
print(Inu)

[3, 4, 10, 25, 26, 58, 60, 77, 85, 88, 93, 105, 111, 112, 126, 137, 139, 143, 149, 152, 155, 157, 165, 167, 169, 170, 174, 191, 194, 196, 197, 198, 204, 205, 206, 207, 208, 212, 214, 217, 219, 220, 221, 222, 224, 226, 228, 230, 231, 242, 243, 245, 247, 250, 253, 254, 255, 259, 260, 266, 271, 273, 274, 276, 277, 280, 281, 284, 285, 290, 291, 294, 296, 297, 298, 299, 301, 303, 304, 308, 311, 312, 314, 317, 318, 319, 320, 323, 325, 327, 332, 333, 334, 335, 337, 339, 341, 342, 343, 348]

In [15]:
print(groups)

[0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1]

In [16]:
348*2

696