In [1]:
import os
from netCDF4 import Dataset
import numpy as np
import pandas as pd

In [2]:
path = os.getcwd()
folder = path+"/dataset/ts_jorge_MW8.6/"
print(folder)

/home/jorge/tsunami-warning/dataset/ts_jorge_MW8.6/

In [3]:
files = []
for file in os.listdir(folder):
    if file.endswith(".nc"):
        files.append(file)
files.sort()
print(files)

['bat_l0_ts002.nc', 'bat_l0_ts034.nc', 'bat_l0_ts035.nc', 'bat_l0_ts043.nc', 'bat_l0_ts050.nc', 'bat_l0_ts053.nc', 'bat_l0_ts055.nc', 'bat_l0_ts060.nc', 'bat_l0_ts061.nc', 'bat_l0_ts066.nc', 'bat_l0_ts067.nc', 'bat_l0_ts068.nc', 'bat_l0_ts071.nc', 'bat_l0_ts072.nc', 'bat_l0_ts073.nc', 'bat_l0_ts074.nc', 'bat_l0_ts076.nc', 'bat_l0_ts077.nc', 'bat_l0_ts080.nc', 'bat_l0_ts081.nc', 'bat_l0_ts082.nc', 'bat_l0_ts085.nc', 'bat_l0_ts086.nc', 'bat_l0_ts087.nc', 'bat_l0_ts089.nc', 'bat_l0_ts091.nc', 'bat_l0_ts094.nc', 'bat_l0_ts095.nc', 'bat_l0_ts096.nc', 'bat_l0_ts098.nc', 'bat_l0_ts099.nc', 'bat_l0_ts100.nc', 'bat_l0_ts101.nc', 'bat_l0_ts102.nc', 'bat_l0_ts105.nc', 'bat_l0_ts107.nc', 'bat_l0_ts110.nc', 'bat_l0_ts116.nc', 'bat_l0_ts120.nc', 'bat_l0_ts126.nc', 'bat_l0_ts127.nc', 'bat_l0_ts128.nc', 'bat_l0_ts131.nc', 'bat_l0_ts132.nc', 'bat_l0_ts133.nc', 'bat_l0_ts134.nc', 'bat_l0_ts137.nc', 'bat_l0_ts138.nc', 'bat_l0_ts143.nc', 'bat_l0_ts145.nc', 'bat_l0_ts147.nc', 'bat_l0_ts148.nc', 'bat_l0_ts149.nc', 'bat_l0_ts153.nc', 'bat_l0_ts158.nc', 'bat_l0_ts159.nc', 'bat_l0_ts161.nc', 'bat_l0_ts162.nc', 'bat_l0_ts163.nc', 'bat_l0_ts164.nc', 'bat_l0_ts167.nc', 'bat_l0_ts170.nc', 'bat_l0_ts172.nc', 'bat_l0_ts175.nc', 'bat_l0_ts176.nc', 'bat_l0_ts177.nc', 'bat_l0_ts178.nc', 'bat_l0_ts179.nc', 'bat_l0_ts180.nc', 'bat_l0_ts181.nc', 'bat_l0_ts184.nc', 'bat_l0_ts185.nc', 'bat_l0_ts187.nc', 'bat_l0_ts192.nc', 'bat_l0_ts193.nc', 'bat_l0_ts194.nc', 'bat_l0_ts195.nc', 'bat_l0_ts196.nc', 'bat_l0_ts_003.nc', 'bat_l0_ts_004.nc', 'bat_l0_ts_007.nc', 'bat_l0_ts_008.nc', 'bat_l0_ts_009.nc', 'bat_l0_ts_010.nc', 'bat_l0_ts_012.nc', 'bat_l0_ts_014.nc', 'bat_l0_ts_015.nc', 'bat_l0_ts_016.nc', 'bat_l0_ts_019.nc', 'bat_l0_ts_021.nc', 'bat_l0_ts_024.nc', 'bat_l0_ts_025.nc', 'bat_l0_ts_026.nc', 'bat_l0_ts_027.nc', 'bat_l0_ts_031.nc', 'bat_l0_ts_032.nc', 'bat_l0_ts_033.nc']

In [4]:
filep = files[0]
f=Dataset(folder+filep,'r')
for i in f.variables:
    print(i,f.variables[i].units,f.variables[i].shape)

deformed_bathy meters (83,)
time seconds since 1970-01-01 (14410,)
min_height meters (83,)
max_height meters (83,)
eta meters (14410, 83)
ux meters/second (14410, 83)
uy meters/second (14410, 83)

In [5]:
#boyas = [14,79]
#inu_valpo= [6,9]
inu_vina = [80]
registros = {'inu_vina':inu_vina}

In [6]:
data = {}
for file in files:
    for n,r in registros.items():
        for i in r:
            rutafile = folder  + file
            f=Dataset(rutafile,'r') # abrir file
            time = f.variables['time'][:]
            eta = f.variables['eta'][:,i] -f.variables['eta'][:,i][0]# eta corregido
            eta = eta.data.tolist()
            data[n+str(i)+'_'+file[-8:-3]] = eta

In [7]:
df = pd.DataFrame(data)
#df.to_json (folder+'DataFrame_boyas79_80vi√±a.json')
#df.head()

In [8]:
df.describe()

,inu_vina80_ts002,inu_vina80_ts034,inu_vina80_ts035,inu_vina80_ts043,inu_vina80_ts050,inu_vina80_ts053,inu_vina80_ts055,inu_vina80_ts060,inu_vina80_ts061,inu_vina80_ts066,...,inu_vina80_s_016,inu_vina80_s_019,inu_vina80_s_021,inu_vina80_s_024,inu_vina80_s_025,inu_vina80_s_026,inu_vina80_s_027,inu_vina80_s_031,inu_vina80_s_032,inu_vina80_s_033
count,14410.0,14410.0,14410.000000,14410.0,14410.0,14410.0,14410.0,14410.000000,14410.000000,14410.000000,...,14410.0,14410.000000,14410.0,14410.0,14410.0,14410.0,14410.0,14410.0,14410.0,14410.0
mean,0.0,0.0,0.034584,0.0,0.0,0.0,0.0,0.026948,0.038313,0.008181,...,0.0,0.006252,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,0.0,0.0,0.163501,0.0,0.0,0.0,0.0,0.126801,0.179470,0.024548,...,0.0,0.010847,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.0,0.005005,0.0,0.0,0.0,0.0,0.004986,0.004832,0.003159,...,0.0,0.003023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,0.0,0.0,0.005539,0.0,0.0,0.0,0.0,0.005534,0.005580,0.003943,...,0.0,0.003792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,0.0,0.0,0.010796,0.0,0.0,0.0,0.0,0.010758,0.012735,0.005151,...,0.0,0.005018,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,0.0,0.0,1.905331,0.0,0.0,0.0,0.0,1.911239,2.722036,0.397255,...,0.0,0.133507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
#df = pd.read_json(folder+'DataFrame_boyas.json') # cargar dataframe

In [10]:
indexC = df.columns
len(indexC)

97

In [11]:
Inu = []
inu = {}
NoInu = []
c = -1
groups = []
for i in indexC:
    c+=1
    if df[i].max()>0:
        groups.append(1)
        Inu.append(c)
        inu[i] = [df[i].max()]
    else:
        NoInu.append(c)
        groups.append(0)

In [12]:
inu = pd.DataFrame(inu)
inu

,inu_vina80_ts035,inu_vina80_ts060,inu_vina80_ts061,inu_vina80_ts066,inu_vina80_ts081,inu_vina80_ts085,inu_vina80_ts133,inu_vina80_ts138,inu_vina80_ts143,inu_vina80_ts145,inu_vina80_ts180,inu_vina80_ts185,inu_vina80_ts194,inu_vina80_s_003,inu_vina80_s_004,inu_vina80_s_015,inu_vina80_s_019
0,1.905331,1.911239,2.722036,0.397255,0.129749,3.172851,1.323668,1.595227,0.647731,0.443642,0.582891,2.384743,0.120701,0.543291,2.52685,0.006153,0.133507

In [13]:
print('No Inunda %',(len(NoInu)/len(indexC))*100)
print('Si Inunda %',(len(Inu)/len(indexC))*100)

No Inunda % 82.4742268041237
Si Inunda % 17.525773195876287

In [14]:
Inu

[2, 7, 8, 9, 19, 21, 44, 47, 48, 49, 68, 71, 75, 78, 79, 86, 88]

In [16]:
len(groups)

97